body {
	background-color: #faebd7;

}

#content {
	font-family; Tahoma, Geneva, sans-serif;
	font color: black;
}

h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font color: black;
	font-size: 16px;
}

p {
	font-family: Tahoma, Geneva, sans-serif;
	font color: black;
	font-size: 14px;
}

ul {
	font-family: Tahoma, Geneva, sans-serif;
	font color: black;
	font-size: 14px;
}

#codedemo {
	font-family: Courier, serif;
	font-size: 12px;
	font color: blue;
}
	
