body {
	background-color: #faebd7;
	font-family; Tahoma, Geneva, sans-serif;
    padding:1em 2em;
}

#header {
	text-align: center;
	font-family; Tahoma, Geneva, sans-serif;
	font-size: 55px;
	background-color: #fadad7;
	height: 90px;
	padding-top: 20px;
}
#content {
	font-family; Tahoma, Geneva, sans-serif;
	font color: black;
}

h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font color: black;
	font-size: 16px;
}

p {
	font-family: Tahoma, Geneva, sans-serif;
	font color: black;
	font-size: 14px;
}

ul {
	font-family: Tahoma, Geneva, sans-serif;
	font color: black;
	font-size: 14px;
}

pre {
    display: inline-block;
    padding: 1em;
    margin-left: 3em;
	font-size: 12px;
	color: blue;
    background: white;
}

code {
    margin: 0.2em;
}

#footer {
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 22px;
	background-color: #fadad7;
	height: 50px;
	font color: black;
	padding-top: 20px;
}